body {
  padding: 5;
  margin: 5;
}

#map,
body,
html {
  height: 100%;
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.legend .circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend .circle.one {
  background-color: #000000;
  width: 10px;
  height: 10px;
}

.legend .circle.two {
  background-color: #000000;
  width: 14.14px;
  height: 14.14px;
}

.legend .circle.three {
  background-color: #000000;
  width: 17.32px;
  height: 17.32px;
}
.legend .circle.four {
  background-color: #000000;
  width: 20px;
  height: 20px;
}
.legend .circle.five {
  background-color: #000000;
  width: 22.36px;
  height: 22.36px;
}

.legend span {
  display: inline-block;
  vertical-align: middle;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

